.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card{
  width: 80%; 
    justify-content: center;
    margin-left: 10%;
    background-color: #efefef00;
    /* border: #bcd8f1 1px solid !important; */
}



.card.cust{
  width: 40%;
    justify-content: center;
    margin-left: 30%;
    /* background-color: #efefef00; */
    /* border: #bcd8f1 1px solid !important; */
}
@media (max-width: 320px) {
  .card.cust {
      width: 60%;
      margin-left: 25%;
      justify-content: center; /* Set the width to 100% for smaller screens */
  }
}

#mainheader{
  color: #282c34;
}

.App-link {
  color: #61dafb;
}
.custom.bg{
  
}
.btn{
  justify-content: center;
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #bcd8f1;
}

@media (min-width: 768px){

  .ml-md-n5, .mx-md-n5 {
    margin-left:0% !important;
  }
  }
  .custom.row{
    margin-left:10% !important;
  }