#cards {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 20px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    background-color: rgb(214, 185, 185);
  }
  
  #cards-content {
    text-align: start;
  }
  