.custom.form-control{
    width: 70% !important;
    margin-left: 15% !important;
}
.custom.container{
    margin: 0px !important;
    background-color: #efefef !important;
    border-radius: 0.4rem ;
    margin-left: 35% !important;
    width: 30% !important;
    text-align:start;
}
/* .custom.form-label{
    margin-right: 200px !important;
} */

.mx-5{
    margin-left: 4.4rem !important;
    margin-right: 0% !important;
}
.mx-5.my-5{
    margin-left: 6rem !important;
    /* margin-top: 3rem !important; */
}
.btn-primary.mx-5{
    margin-left: 10rem !important;
    margin-bottom: 3rem !important;
}