.custom.form-control{
    width: 50% !important;
    margin-left: 30% !important;
}
.custom.container{
    margin: 0px !important;
    background-color: #efefef !important;
    border-radius: 0.4rem ;
    margin-left: 15% !important;
    width: 50% !important;
}
/* .custom.form-label{
    margin-right: 200px !important;
} */